#yy{
  
    width: 200px; /* Sets the width to 200 pixels */
    height: 150px; /* Sets the height to 150 pixels */
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-image: url("mark.jpg");
  }
  #bb{
    color: rgb(4, 248, 53);
  }
  .ff label {
    color: rgb(4, 248, 53);
   }
   #qq{
    color: rgb(4, 248, 53);
   }
   #oo{
    color: rgb(4, 248, 53);
   }
   #pp{
    color: rgb(4, 248, 53);
   }
#vv{
  color: rgb(4, 248, 53);
}
#u{
  color: rgb(4, 248, 53);
}